@import url("https://fonts.cdnfonts.com/css/led-digital-7");
.container {
  background-color: rgb(247, 245, 240);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}

@media screen and (min-width: 900px) {

#small_containter {
  background-color: rgb(6, 157, 245);
  height: 65%;
  width: 30%;
  border-radius: 5%;
  margin-top: 4%;
}



#screen input {
  background-color: rgb(253, 251, 251);
  height: 10%;
  width: 78%;
  font-size: 70px;
  margin: 15%  10%  10% 10% ; 
  border-radius: 25px;
  text-align: end;
  font-family: "LED Digital 7", sans-serif;
}

 
.btn-container {
  
  display: grid;
  grid-template-columns: 21% 21% 21% 21%;
  align-items: center;
  grid-gap: 5%;
  padding: 1% 10% 2% 12%;

  font-size: 40px;
  /* margin: 100px 40px 10px 40px; */
}

button {
  padding: 20%;
  font-size: 25px;
  cursor: pointer;
  background-color: #0c03f9;
  color: white;
  border-radius: 10px;
}

}






@media screen and (max-width: 890px) {

  #small_containter {
    background-color: rgb(6, 157, 245);
    height: 60%;
    width: 60%;
    border-radius: 5%;
    margin-top: 4%;
  }
  
  
  
  #screen input {
    background-color: rgb(253, 251, 251);
    height: 10%;
    width: 78%;
    font-size: 70px;
    margin: 15%  10%  10% 10% ; 
    border-radius: 25px;
    text-align: end;
    font-family: "LED Digital 7", sans-serif;
  }
  
   
  .btn-container {
    
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    align-items: center;
    grid-gap: 5%;
    padding: 1% 10% 2% 12%;
  
    font-size: 40px;
    /* margin: 100px 40px 10px 40px; */
  }
  
  button {
    padding: 20%;
    font-size: 25px;
    cursor: pointer;
    background-color: #0c03f9;
    color: white;
    border-radius: 10px;
  }
  
  }














@media screen and (max-width: 380px) {

  #small_containter {
    background-color: rgb(6, 157, 245);
    height: 450px;
    width: 320px;
    border-radius: 5%;
    margin-top: 4%;
  }
  
  
  
  #screen input {
    background-color: rgb(253, 251, 251);
    height: 10%;
    width: 78%;
    font-size: 60px;
    margin: 18%  10%  10% 10% ; 
    border-radius: 20px;
    text-align: end;
    font-family: "LED Digital 7", sans-serif;
  }
  
   
  .btn-container {
    
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    align-items: center;
    grid-gap: 5%;
    padding: 1% 10% 2% 12%;
  
    font-size: 40px;
    /* margin: 100px 40px 10px 40px; */
  }
  
  button {
    padding: 20%;
    font-size: 25px;
    cursor: pointer;
    background-color: #0c03f9;
    color: white;
    border-radius: 10px;
  }
  
  }












  @media screen and (max-width: 325px) {

    #small_containter {
      background-color: rgb(6, 157, 245);
      height: 430px;
      width: 300px;
      border-radius: 5%;
      margin-top: 4%;
    }
    
    
    
    #screen input {
      background-color: rgb(253, 251, 251);
      height: 10%;
      width: 78%;
      font-size: 60px;
      margin: 18%  10%  10% 10% ; 
      border-radius: 20px;
      text-align: end;
      font-family: "LED Digital 7", sans-serif;
    }
    
     
    .btn-container {
      
      display: grid;
      grid-template-columns: 21% 21% 21% 21%;
      align-items: center;
      grid-gap: 5%;
      padding: 1% 10% 2% 12%;
    
      font-size: 40px;
      /* margin: 100px 40px 10px 40px; */
    }
    
    button {
      padding: 20%;
      font-size: 25px;
      cursor: pointer;
      background-color: #0c03f9;
      color: white;
      border-radius: 10px;
    }
    
    }







